**Content under Creative Commons Attribution license CC-BY 4.0; Code under BSD 3-Clause License Â© 2021 J. E. Guyer**

# ENMA165 Homework: Iterables (100 points total)

Submit your solutions in the cells of this notebook as a **pull request**.

Answers will be scored on correctness, conciseness, and descriptive variable names. Comments which help clarify the code are encouraged; comments which are redundant to the code are not.

Use tab-completion and other forms of Python introspection to identify the functions and methods you need, what arguments they take, and what values they return.

## Q1 (20 points)

Using the `enumerate()` command, fill in the blanks in the next cell to produce the ouput:
```
0: apple
1: banana
2: canteloupe
3: durian
```

In [24]:
a = ["apple", "banana", "canteloupe", "durian"]

for i, fruit in enumerate(a):
    print(f"{i}: {fruit}")

0: apple
1: banana
2: canteloupe
3: durian

## Q2 (20 pts)

Fill in the blanks in the next cell to produce the ouput:
```
The value of apple is 1.414
The value of banana is 1.618
The value of canteloupe is 2.718
The value of durian is 3.142
```

**note:** The lines may be in a different order

In [25]:
d = {"apple": 1.414, "banana": 1.618, "canteloupe": 2.718, "durian": 3.142}

for fruit, number in d.items():
    print(f"The value of {fruit} is {number}")

The value of apple is 1.414
The value of banana is 1.618
The value of canteloupe is 2.718
The value of durian is 3.142

## Q3 (20 pts)

Using the `zip()` command, fill in the blanks in the next cell to produce the ouput:
```
fruit: apple, number: 1.414, valid: True
fruit: banana, number: 1.618, valid: False
fruit: canteloupe, number: 2.718, valid: False
fruit: durian, number: 3.142, valid: True
```

In [26]:
a = ["apple", "banana", "canteloupe", "durian"]
b = [1.414, 1.618, 2.718, 3.142]
c = [True, False, False, True]

for fruit, number, test in zip(a, b, c):
    print(f"fruit: {fruit}, number: {number}, valid: {test}")

fruit: apple, number: 1.414, valid: True
fruit: banana, number: 1.618, valid: False
fruit: canteloupe, number: 2.718, valid: False
fruit: durian, number: 3.142, valid: True

## Q4 (20 pts)

Fill in the blanks in the next cell to produce the ouput:
```
0: The value of apple is 1.414
1: The value of banana is 1.618
2: The value of canteloupe is 2.718
3: The value of durian is 3.142
```

In [27]:
import pandas as pd

df = pd.DataFrame({"fruit": ["apple", "banana", "canteloupe", "durian"],
                   "transcendental number": [1.414, 1.618, 2.718, 3.142],
                   "valid": [True, False, False, True]})

for i, row in df.iterrows():
    print(f"{i}: The value of {row['fruit']} is {row['transcendental number']}")

0: The value of apple is 1.414
1: The value of banana is 1.618
2: The value of canteloupe is 2.718
3: The value of durian is 3.142

## Q5 (20 pts)

Fill in the blanks in the next cell to produce the ouput:
```
0: The value of apple is 1.414
3: The value of durian is 3.142
```

In [28]:
import pandas as pd

df = pd.DataFrame({"fruit": ["apple", "banana", "canteloupe", "durian"],
                   "transcendental number": [1.414, 1.618, 2.718, 3.142],
                   "valid": [True, False, False, True]})

for i, row in df[df["valid"]].iterrows():
    print(f"{i}: The value of {row['fruit']} is {row['transcendental number']}")

0: The value of apple is 1.414
3: The value of durian is 3.142